@model HairDemoSite.Areas.Public.Models.StartPageData;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ClientAdmin/Views/_Layout.cshtml";
}

<div class="row" style="padding: 15px">
    <div class="col-xl-12">
        <div class="h2">Start Page</div>
        <hr />
    </div>
</div>


<div class="row" style="padding-left:15px; padding-right:15px; padding-bottom:50px">
    <div class="col-xl-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="width:60%" class="h5">Welcome Message</td>
                    <td style="width:20%">
                        <textarea id="txtWelcomeMessage">@Model.StartPageFlatData.WelcomeMessage</textarea>
                    </td>
                    <td style="width:20%; vertical-align: middle; text-align: center;">
                        <button class="btn btn-primary" onclick="SaveAllFlatData()">Save All</button>
                    </td>
                </tr>
                <tr>
                    <td style="width:60%" class="h5">Telephone number</td>
                    <td style="width:20%">
                        <textarea id="txtPhoneNumber">@Model.StartPageFlatData.PhoneNumber</textarea>
                    </td>
                    <td style="width:20%">
                    </td>
                </tr>
                <tr>
                    <td style="width:60%" class="h5">Icon Image</td>
                    <td style="width: 20%; height: 150px; max-width: 200px; text-align: left; overflow: visible">
                        <img id="previewImageIcon" style="height:100%; width:100%; object-fit: contain; padding-bottom:10px;" />
                        <select id="imgIconSelect" onchange="setPreviewImageIcon(this.value)" style="width:100%">
                            @foreach (var image in Model.PublicImages.OrderByDescending(o => o.ImageId))
                            {
                                <option value="@image.ImageLocation">@image.ImageName</option>
                            }
                        </select>
                    </td>
                    <td style="width:20%">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#imgIconSelect').val('@Model.StartPageFlatData.IconImageLocation');
        $('#previewImageIcon').attr("src", '@Model.StartPageFlatData.IconImageLocation');
    });

    function setPreviewImageIcon(imageLocation) {
        console.log('Image Location' + imageLocation)
        $('#previewImageIcon').attr("src", imageLocation);
    }

    function SaveAllFlatData() {

        var newIconImageLocation = $('#previewImageIcon').attr('src');
        var newWelcomeMessage = $('#txtWelcomeMessage').val();
        var newTelephoneNumber = $('#txtPhoneNumber').val();

        var data = JSON.stringify({
            IconImage: newIconImageLocation,
            WelcomeMessage: newWelcomeMessage,
            PhoneNumber: newTelephoneNumber
        });

        $.ajax({
            url: 'API/MPFlatData/SaveFlatData',
            type: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: data,
            success: function (result) {
                console.log('Success: ' + result);
                location.reload();
            },
            error: function (data) {
                console.log('Error: ' + data);
            }
        });
    }


</script>


<div class="row" style="padding-left:15px; padding-right:15px;">
    <div class="col-xl-12">
        <div class="h3">Header Carousel</div>
    </div>
</div>
<div class="row" style="padding-left:15px; padding-right:15px;">
    <div class="col-xl-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Tile Image</th>
                    <th scope="col">Tile Title</th>
                    <th scope="col">Tile Text</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tile in Model.HeaderCarousel.Tiles)
                {
                    <tr>
                        <td><img src="@tile.TileImageLocation" style="max-height:100px" title="@tile.TileImageLocation.Split(@"/").LastOrDefault()" /></td>
                        <td>@tile.TileTitle</td>
                        <td>@tile.TileMessage</td>
                        <td style="vertical-align:central">
                            <button id="@tile.TileID" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModalCarousel" onclick="setDelIdCarousel(this.id)">X</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="h5">Add new Tile to Carousel</td>
                    <td class="h5">Tile Title</td>
                    <td class="h5">Tile Text</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="height: 150px; width:200px; max-width:200px; text-align:left; overflow:visible">
                        <img id="previewImageCarousel" src="~/public/img/bg-img/1.jpg" style="height:100%; width:100%; object-fit: contain; padding-bottom:10px;" />
                        <select onchange="setPreviewImageCarousel(this.value)" style="max-width:250px">
                            @foreach (var image in Model.PublicImages.OrderByDescending(o => o.ImageId))
                            {
                                <option value="@image.ImageLocation">@image.ImageName</option>
                            }
                        </select>
                    </td>
                    <td><textarea id="txtNewTileTitle" class="form-control" style="height:150px; min-width:100px"></textarea></td>
                    <td><textarea id="txtNewTileMessage" class="form-control" style="height:150px; min-width:100px"></textarea></td>
                    <td style="vertical-align:central">
                        <button type="button" class="btn btn-primary" onclick="saveNewTile()">Save</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <hr />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModalCarousel" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirm action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this ??
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn-lg btn-secondary" onclick="deleteRowCarousel()">YES</button>
                <button type="button" class="btn-lg btn-primary" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<div class="row" style="padding-left:15px; padding-right:15px; padding-top:50px">
    <div class="col-xl-12">
        <div class="h3">Our Services</div>
    </div>
</div>

<div class="row" style="padding-left:15px; padding-right:15px;">
    <div class="col-xl-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Service Image</th>
                    <th scope="col">Service Title</th>
                    <th scope="col">Servcies Description</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.OurServicesData.OurServicesData)
                {
                    <tr>
                        <td><img src="@service.ServiceImageLocation" style="max-height:100px" title="@service.ServiceImageLocation.Split(@"/").LastOrDefault()" /></td>
                        <td>@service.ServiceName</td>
                        <td>@service.ServiceDescription</td>
                        <td style="vertical-align:central">
                            <button id="@service.ServiceID" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModalServices" onclick="setDelIdServices(this.id)">X</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="h5">Add new service</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="height: 150px; width:200px; max-width:200px; text-align:left; overflow:visible">
                        <img id="previewImageServices" src="~/public/img/bg-img/1.jpg" style="height:100%; width:100%; object-fit: contain; padding-bottom:10px;" />
                        <select onchange="setPreviewImageServices(this.value)" style="max-width:190px">
                            @foreach (var image in Model.PublicImages.OrderByDescending(o => o.ImageId))
                            {
                                <option value="@image.ImageLocation">@image.ImageName</option>
                            }
                        </select>
                    </td>
                    <td><textarea id="txtNewServiceTitle" class="form-control" style="height:150px; min-width:100px"></textarea></td>
                    <td><textarea id="txtNewServiceDescription" class="form-control" style="height:150px; min-width:100px"></textarea></td>
                    <td style="vertical-align:central">
                        <button type="button" class="btn btn-primary" onclick="saveNewService()">Save</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script language="JavaScript" type="text/javascript">
    function sortlist() {
        var lb = document.getElementById('mylist');
        arrTexts = new Array();

        for (i = 0; i < lb.length; i++) {
            arrTexts[i] = lb.options[i].text;
        }

        arrTexts.sort();

        for (i = 0; i < lb.length; i++) {
            lb.options[i].text = arrTexts[i];
            lb.options[i].value = arrTexts[i];
        }
    }
</script>

<!-- Modal -->
<div class="modal fade" id="confirmModalServices" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirm action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this ??
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn-lg btn-secondary" onclick="deleteRowServices()">YES</button>
                <button type="button" class="btn-lg btn-primary" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<script>

    var delIDServices = 0;

    function saveNewService() {
        var newImageLocationServices = $('#previewImageServices').attr('src');

        var newServiceTitle = $('#txtNewServiceTitle').val();
        var newServiceDescription = $('#txtNewServiceDescription').val();

        console.log('newImageLocation : ' + newImageLocationServices + ', newTileTitle : ' + newServiceTitle + ', newTileMessage : ' + newServiceDescription);

        var data = JSON.stringify({
            ImageLocation: newImageLocationServices,
            ServiceTitle: newServiceTitle,
            ServiceDescription: newServiceDescription
        });

        $.ajax({
            url: 'API/MPServices/CreateNewService',
            type: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: data,
            success: function (result) {
                console.log('Success: ' + result);
                location.reload();
            },
            error: function (data) {
                console.log('Error: ' + data);
            }
        });

    }

    function setPreviewImageServices(imageLocation) {
        console.log('Image Location' + imageLocation)
        $('#previewImageServices').attr("src", imageLocation);
    }

    function deleteRowServices() {
        $('#confirmModalServices').modal('hide');
        console.log('delIDServices = ' + delIDServices);

        var data = JSON.stringify({
            idString: delIDServices
        });

        $.ajax({
            url: 'API/MPServices/DeleteService',
            data: data,
            type: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (result) {
                console.log('Success: ' + result);
                location.reload();
            },
            error: function (data) {
                console.log('Error: ' + data);
            }
        });
    }

    function setDelIdServices(id) {
        delIDServices = id;
        console.log('delIDServices SET to ' + delIDServices);
    }


</script>



<script>
    var delIDCarousel = 0;

    function replaceAll(string, search, replace) {
        return string.split(search).join(replace);
    }

    function saveNewTile() {
        var newImageLocation = $('#previewImageCarousel').attr('src');

        var newTileTitle = $('#txtNewTileTitle').val();
        var newTileMessage = $('#txtNewTileMessage').val();

        console.log('newImageLocation : ' + newImageLocation + ', newTileTitle : ' + newTileTitle + ', newTileMessage : ' + newTileMessage);

        var data = JSON.stringify({
            ImageLocation: newImageLocation,
            TileTitle: newTileTitle,
            TileMessage: newTileMessage
        });

        $.ajax({
            url: 'API/MPCarousel/CreateNewTile',
            type: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: data,
            success: function (result) {
                console.log('Success: ' + result);
                location.reload();
            },
            error: function (data) {
                console.log('Error: ' + data);
            }
        });

    }

    function setPreviewImageCarousel(imageLocation) {
        console.log('Image Location' + imageLocation)
        $('#previewImageCarousel').attr("src", imageLocation);
    }

    function deleteRowCarousel() {
        $('#confirmModal').modal('hide');
        console.log('delIDCarousel = ' + delIDCarousel);

        var data = JSON.stringify({
            idString: delIDCarousel
        });

        $.ajax({
            url: 'API/MPCarousel/DeleteTile',
            data: data,
            type: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (result) {
                console.log('Success: ' + result);
                location.reload();
            },
            error: function (data) {
                console.log('Error: ' + data);
            }
        });
    }

    function setDelIdCarousel(id) {
        delIDCarousel = id;
        console.log('delIDCarousel SET to ' + delIDCarousel);
    }

</script>
